body {
  font-family: "Pretendard";
  color: #333;
  margin: 0;
  padding: 0;
}
button {
  all: unset;
}

.title {
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
}
.badge {
  background-color: gray;
  border-radius: 16px;
  padding: 4px 12px 4px 12px;
  color: white;
}
.flx-row {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.flx-row > div {
  background-color: #a1a1a1;
  color: white;
  padding: 10px;
  margin-left: 4px;
  border-radius: 4px;
  font-family: "Space Mono";
}
.flx-row > div.now-checking {
  background-color: #04aa6d;
}
.flx-row > div.lowest {
  background-color: #000000;
}
