@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Pretendard", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #333;
}
li,
ul {
  list-style: none;
  padding-left: 0px;
}

.daily {
  border: rgb(60, 105, 225) solid 1px;
  background-color: white;
}
.sketch {
  height: 480px;
  background-size: 24px 24px;
  background-image: linear-gradient(
      to right,
      rgb(60, 105, 225) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(60, 105, 225) 1px, transparent 1px);
}
.sticker {
  position: relative;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 40px;
  background-color: rgb(60, 105, 225);
}
.selected {
  border: blue solid 10px;
}
