@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Pretendard", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #333;
}
li,
ul {
  list-style: none;
  padding-left: 0px;
}
.tree {
  border: #333 1px solid;
  border-radius: 6px;
}
.sub-tree {
  margin-left: 28px;
  background-color: #ddd;
  border-radius: 4px;
  display: none;
}
.folder {
  /* 커스텀 속성 */
  --icon: url("icons/folder-closed.svg");

  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 8px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}
.folder::before {
  content: var(--icon);
  width: 18px;
  height: 18px;
}
.white {
  background-color: #fff;
}
.display-block {
  display: block;
}
